.deps/
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.m4
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/phat.pc
/phat.spec
/phat/config.h
/phat/config.h.in
/phat/stamp-h1

*.libs/
*.la
*.lo
*.o

/demos/phatfanslider
/demos/phatkeyboard
/demos/phatknob
/demos/phatpad
/demos/phatsliderbutton
/docs/phat-decl-list.txt
/docs/phat-decl.txt
/docs/phat-scan.c
/docs/setup-build.stamp
/phat-*/
