.deps/
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.m4
/gtk-doc.make
/install-sh
/libtool
/ltmain.sh
/missing
/phat.pc
/phat.spec
/phat/config.h
/phat/config.h.in
/phat/stamp-h1
